body, html, h1, h2, .tight {
    margin: 0;
    padding: 0;
}

.site-title, .page-title {
    color: darkcyan;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.page-title {
    padding: 20px;
}

main-header {
    padding: 10px
}

big-header {
    padding: 10px
}

.tagline {
    font-style: oblique;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    margin: 0px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.links {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.row-links {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.article {
    width: 100vh;
}
